<div class='border-bottom-0 row' style="margin-bottom:16px;">
  <div class="col-9">
    <h3 style='color: rgb(120,120,120); margin-top:4px;'>{{job['Title']}}</h3>
    <div><b>Location: {{job['Location']}}</b></div>
    {% if 'Salary' in job %}
    <div>
        <b>Salary: {{job['Salary']}}</b>
    </div>
    {% endif %}
  </div>
  <div class="col-3">
       <a href="mailto:hello@jovian.ai?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%20link%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%3A%20%3Clinkedin%20in%3E%0D%0A%0D%0A" type="button" class="btn btn-outline-primary float-right align-middle" >Apply</a>

  </div>
</div>